spring:
  application:
    name: bus-seat-booking

    datasource:
      url: jdbc:mysql://localhost:3306/bus_booking
      username: root
      password: root1226
      driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQLDialect


  server:
    port: 8080

